:root {
  --cana-900: #080a0b; /**/
  --cana-800: #9ee870;
  --cana-700: #242729; /**/
  --tierra: #8ddf5a;
  --azucar: #9ee870; /**/
  --azucar-soft: #a9f779; /**/
  --alerta: #d89b63; /**/
  --papel: #080a0b; /**/
  --papel-2: #080a0b; /**/
  --tinta: #e9f0ec; /**/
  --tinta-suave: #727e78; /**/
  --linea: #24292a; /**/
  --blanco: #0d1213; /**/
  --ok: #9ee870; /**/
}
